*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.item{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    gap: 10px;
    /* border: 2px solid red; */
   

}

.container
{
    height: 10000px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: pink;
}
.item-1{
background-color: red;
/* position:static ; */
/* top: 50px; */
}
.item-2{
    background-color:blue;
    position: fixed;
    top: 20px;
    right:50px;

}
.item-3{
    background-color: green;
    position:sticky;
    top: 20px;
}
.item-4{
    background-color: yellow;
    position: relative;
    top: 50px;
}
.box1{
    width: 50%;
    height: 50%;
    background-color: white;
    sasds
}